<div class="container">
  <h1>QRコードスキャナー</h1>

  <!-- カメラデバイスの数を表示 -->
  <p>利用可能なカメラデバイスの数: {{ cameraCount }}</p>

  <div *ngIf="scannerEnabled" class="scanner-container">
    <zxing-scanner
      [enable]="scannerEnabled"
      (scanSuccess)="onScanSuccess($event)"
      [autofocusEnabled]="true"
      class="scanner"
      (scanError)="onScanError($event)"
      (scanFailure)="onScanFailure($event)"
      (scanComplete)="onScanComplete($event)"
      >
    </zxing-scanner>
  </div>

  <div *ngIf="qrResultString" class="result">
    <h3>スキャン結果:</h3>
    <p>{{ qrResultString }}</p>
    <h3>スキャン結果:</h3>
    <ul>
      <li *ngFor="let value of qrResultStrings">
        {{ value }}
      </li>
    </ul>
    <button (click)="restartScanner()">再スキャン</button>
  </div>

  <!-- API レスポンスの表示 -->
  <div *ngIf="loading" class="api-response">
    <p>データを読み込み中...</p>
  </div>

  <div *ngIf="error" class="api-response error">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="apiResponse && !loading && !error" class="api-response">
    <h3>APIレスポンス:</h3>
    <pre>{{ apiResponse | json }}</pre>
  </div>
</div>
